*.i
*.ii
*.s
*~
/\#*
/*/\#*
/*.lo
/*/*.lo
/.\#*
/*/.\#*
/*/.deps/*
/.deps/*
/*/.libs/*
/.libs/*
/Makefile
/autom4te.cache/*
/config.h
/config.log
/config.status
/libtool
/master
/stamp-h1
/*.la
/test.c
/*.o
/testlink
a.out
/test.txt
/test1.cpp
/test_enum.cpp.001t.tu
/test_pass.c
/tree-nodes/error_mark.lo
/tree-nodes/.dirstamp
/tests/test_link.o
