*.i
*.ii
*.s
*~
/\#*
/*/\#*
/*.lo
/*/*.lo
/.\#*
/*/.\#*
/*/.deps/*
/.deps/*
/*/.libs/*
/.libs/*
/Makefile
/autom4te.cache/*
/config.h
/config.log
/config.status
/libtool
/master
/stamp-h1
/*.la
/*.o
/testlink
a.out
/tree-nodes/*.lo
/tree-nodes/.dirstamp
/tests/*.o
/err.txt
/log.txt
/tests/test_struct.cpp.001t.tu
/test_array.cpp
/report.txt
/tests/plugincpp_interface_simple.cpp.001t.tu
/tree-nodes/err.txt
/owl/struct.hpp.gch
/trace.txt
