*~
a.out
*.s
*.i
*.ii
/#config.h#
/#plugincpp.ii#
/#test.c#
/.#config.h
/.#test.c
/.deps/RecordContext.Plo
/.deps/introspection.Plo
/.deps/plugin.Plo
/.deps/plugincpp.Plo
/.libs/RecordContext.o
/.libs/introspection.o
/.libs/plugin.o
/.libs/plugincpp.o
/.libs/template_plugin.la
/.libs/template_plugin.lai
/.libs/template_plugin.so
/.libs/template_plugin.so.0
/.libs/template_plugin.so.0.0.0
/RecordContext.lo
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/output.2
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autom4te.cache/traces.2
/config.h
/config.status
/introspection.lo
/master
/plugin.lo
/plugincpp.lo
/stamp-h1
/template_plugin.la
/test.c
/#plugincpp_test.cpp#
/#Makefile.am#
/.#Makefile.am
/.deps/record_context.Plo
/.libs/record_context.o
/record_context.lo
/test_cpp_out.o
/#plugin.cpp#
/.#plugin.cpp
/#identifer_node.ii#
/#record_type.cpp#
/#test_tree.cpp#
/.#record_type.cpp
/.#switchcall.hpp
/.#test_link.c
/.#test_tree.cpp
/.deps/field_decl.Plo
/.deps/identifer_node.Plo
/.deps/name.Plo
/.deps/record_type.Plo
/.deps/test_link.Po
/.deps/testlink.Po
/.libs/field_decl.o
/.libs/identifer_node.o
/.libs/name.o
/.libs/record_type.o
/.libs/testlink
/Makefile
/config.log
/field_decl.lo
/identifer_node.lo
/libtool
/name.lo
/record_type.lo
/test_link.o
/testlink
